.list-unstyled {
  list-style: none;
  text-align: left;
  margin-left: 20px;
}

.list-custom {
  list-style: none;
  text-align: left;
  margin-left: -40px;
}

.p-right {
  margin-left: 10%;
  margin-right: 10%;
}

#profilePic {
  width: 60%;
  height: 60%;
}

#col-left {
  background-color: #4c4c4c;
}

#col-right {
  background-color: #4c4c4c;
}

#pen {
  margin-top: 10rem;
  width: 100%;
  height: 50%;
}

.profile-custom {
  background-color: #ffa501;
}

.card-custom {
  border-width: 0.1rem;
  margin: 2.5%;
}

.card-custom-left {
  background-color: #4c4c4c;
  border-color: white;
}

.card-custom-right {
  border-color: #4c4c4c;
}

.card-body-custom {
  padding: 5px;
  margin-top: 8px;
}